*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
[class*="col-"]{
  text-align: center;
  vertical-align: middle;
  /* line-height: 100px;
  height: 20%; */
  background-color: pink;
  border: 1px solid black;
}

.width_50{
  width: 50%;
}
