*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */
[class*="col-"]{
  text-align: center;
  vertical-align: middle;
  /* line-height: 100px;
  height: 20%; */
  /* background-color: pink;
  border: 1px solid black; */
}

/* container general */
[class*="container"]{
  margin: 0 auto;
  margin-bottom: 20px;
}

/* immagini */
.width_50{
  max-width: 50%;
  max-height: 200px;
}

.maps{
  max-width: 50%;
  max-height: 178px;
}

.why.col-xs-12{
  text-align: center;
}
